<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practice_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Practice_app">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>/>
        </activity>

        <activity
            android:name=".testActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".istj_des"
            android:exported="true">
        </activity>

        <activity
            android:name=".istp_des"
            android:exported="true">
        </activity>

        <activity
            android:name=".estj_des"
            android:exported="true">
        </activity>

        <activity
            android:name=".estp_des"
            android:exported="true">
        </activity>

        <activity
            android:name=".isfj_des"
            android:exported="true">
        </activity>

        <activity
            android:name=".isfp_des"
            android:exported="true">
        </activity>

        <activity
            android:name=".esfj_des"
            android:exported="true">
        </activity>

        <activity
            android:name=".esfp_des"
            android:exported="true">
        </activity>

        <activity
            android:name=".infj_des"
            android:exported="true">
        </activity>

        <activity
            android:name=".infp_des"
            android:exported="true">
        </activity>

        <activity
            android:name=".enfj_des"
            android:exported="true">
        </activity>

        <activity
            android:name=".enfp_des"
            android:exported="true">
        </activity>

        <activity
            android:name=".intj_des"
            android:exported="true">
        </activity>

        <activity
            android:name=".intp_des"
            android:exported="true">
        </activity>

        <activity
            android:name=".entj_des"
            android:exported="true">
        </activity>

        <activity
            android:name=".entp_des"
            android:exported="true">
        </activity>

    </application>

</manifest>